:root {
  --mehub-header-height-small: 64px;
  --mehub-header-height-medium: 84px;
  --mehub-header-height-large: 100px;

  --mehub-content-width-large: auto;
  --mehub-content-width-medium: 960px;
  --mehub-content-width-small: 400px;
}

html {
  @apply text-primary-text;
  -webkit-tap-highlight-color: transparent;
}

body {
  @apply text-sm;
}

.el-checkbox {
  display: flex;
  align-items: center;
  height: 20px !important;
  .el-checkbox__inner {
    width: 16px !important;
    height: 16px !important;
    &::after {
      width: 3px;
      height: 50%;
      left: 36%;
      top: 2px;
      border-width: 1.5px;
      border-radius: 0.5px;
    }
  }
  .el-checkbox__label {
    font-size: 14px !important;
    font-weight: 400;
  }
}

.el-radio {
  .el-radio__label {
    font-size: 14px !important;
    font-weight: 400 !important;
  }

  .el-radio__input .el-radio__inner {
    width: 1rem !important;
    height: 1rem !important;
    &::after {
      width: 0.5rem;
      height: 0.5rem;
      background-color: theme('colors.primary');
    }
  }

  .is-checked .el-radio__inner {
    border-color: theme('colors.primary');
  }
}
